.calculator-style {
  .button-round-custom {
    padding: 0 2rem !important;
    border-radius: 8px !important;
  }

  .pading-grid-col {
    padding: 0px 2px 0px 3px !important;
  }

  .display-text-align {
    font-size: 2rem;
    color: red;
    font-weight: 700;
  }

  .display-item-design {
    background-color: aquamarine;
  }

  
}

